html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
} 

@font-face {
    font-family: 'Pokemon Classic';
    src: url(fonts/PokemonClassic.ttf);
}
body{
    font-family: "Pokemon Classic";
}


#header{
    text-align: left;
    width: 100%;
    height: 50px;
    padding: 10px 0px 0px 10px;
    padding-top: 10px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: #e4000f;
    font-family: "Pokemon Classic";
}


.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.topnav a:hover {
    background-color: #F62D14;
    color: white;

}

.topnav a.active{
    background-color: #e4000f;
    color: white;
}

img{
    position: absolute;
    left: 40%;
    height: 200px;
    width: 200px;
}

footer{
    position: relative;
    height: 100px;
    font-size: 8px;
    font-weight: bold;
    
}

#footer{
    
    text-align: center;
    word-spacing: 5px;
    background-color: #ffcb05;
}

.bottomnav{
    font-size: 10px;
    font-weight: bolder;
}

.dischead{
    font-size: large;
    text-align: left;
    margin-left: 10px;
}

.disclaimertext{
    font-size: 10px;
    text-align: left;
    margin-left: 10px;
}