html{
    scroll-behavior: smooth;
}


/* css for text font*/
@font-face {
    font-family: 'Pokemon Classic';
    src: url(fonts/PokemonClassic.ttf);
}

/* general css*/
body{
    font-family: "Pokemon Classic";
    margin: 0;
    padding: 0;
    height: 100%;
}


#header{
    text-align: left;
    width: 100%;
    min-height: 50px;
    padding: 10px 0px 0px 10px;
    padding-top: 10px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: #e4000f;
    font-family: "Pokemon Classic";
    margin: 0;
}


.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.topnav a:hover {
    background-color: #F62D14;
    color: white;
    

}

.topnav a.active{
    background-color: #e4000f;
    color: white;
}

img{
    position: absolute;
    left: 40%;
    height: 200px;
    width: 200px;
    margin-top: 10%;
    opacity: 0.5;
}

footer{
    position: fixed;
    min-height: 200px;
    margin-top: -200px;
    font-size: 8px;
    font-weight: bold;
    width: 100%;
    margin: 0;
    
}

#footer{
    
    text-align: center;
    word-spacing: 5px;
    background-color: #ffcb05;
}

.bottomnav{
    font-size: 10px;
    font-weight: bolder;
}

/* css for disclaimer page*/
.dischead{
    font-size: large;
    text-align: left;
    margin-left: 10px;
}

.disclaimertext{
    font-size: 10px;
    text-align: left;
    margin-left: 10px;
}

/* css for feedback page*/
.form{
    margin: 10px;
}