html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Pokemon Classic';
    src: url(fonts/PokemonClassic.ttf);
}
body{
    font-family: "Pokemon Classic";
}

#header{
    text-align: left;
    width: 100%;
    height: 0px;
    padding: 10px 0px 0px 10px;
    padding-top: 10px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: #e4000f;
    font-family: "Pokemon Classic";
}


.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #F62D14;
    color: white;

}

.topnav a.active{
    background-color: #e4000f;
    color: white;
}